/*GHOST BUTTONS*/
.ghost_button {
  display: block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
.ghost_button:hover,
.ghost_button:active {
  text-decoration: none;
	color: #fff;
	text-decoration: none;
	background-color: #fff; /* fallback */
	background-color: rgba(255, 255, 255, 0.4);
	border-color: #fff; /* fallback */
	border-color: rgba(255, 255, 255, 0.4);
		transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

/*GHOST BUTTONS IN NAVIGATION*/
.nav_ghost_button {
  width: 200px;
  padding: 8px;
  color: $color__logo_first;
  border: 1px none transparent;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
  border-color .3s ease-out;
}
.nav_ghost_button:hover,
.nav_ghost_button:active {
	color: $color__logo_first;
  border: 1px solid $color__logo_first;
	text-decoration: none;
	background-color: #fff; /* fallback */
	background-color: rgba(255, 255, 255, 0.4);
		transition: background-color 0.3s ease-in,
    border-color .3s ease-in;
}