.site-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 60px;
	background-color: rgba(200,200,200,.5);
}

.main-navigation {
	clear: both;
	display: block;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
	}

	li {
		float: right;
		position: relative;
	}

	a {
		display: block;
		text-decoration: none;
	}
}

/* Small menu */
.menu-toggle, {
	display: none;
}



@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
		float: right;
		border-radius: 50%;
		height: 40px;
		width: 40px;
		margin: 1em 1em 0 0;
		border: 1px solid $color__logo_first;
		text-align: center;
		background-color: rgba(200,200,200,.8);
		color: #000;
	}

	.main-navigation ul {
		display: none;
	}

	.nav_ghost_button {
		width:100px;
		background-color: rgba(200,200,200,.7);
		border: 1px solid $color__logo_first;
		border-radius: .5em;
		color: #000;
		margin: .1em 0;
	}

	.site-header {
	background-color: transparent;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}